<h1>All Pages</h1>
<% @pages.each do |page| %>
   <p><%= link_to page.title, page %></p>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to page.title, page %>
       </h4>
     </div>
   </div>
<% end %>